<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--使用Spring来创建对象, 在Spring中这些都称为Bean
        类型  变量名 = new 类型()
        Hello hello = new Hello();

        id = 变量名
        class = new 的对象
        property 相当于给对象中的属性设置一个值
        根据set方法注入
    -->

    <bean id="mysqlImpl" class="cn.com.codingce.dao.UserDaoMysqlImpl" />
    <bean id="oracleImpl" class="cn.com.codingce.dao.UserDaoOracleImpl" />
    <bean id="UserServiceImpl" class="cn.com.codingce.service.UserServiceImpl">
        <!--ref 引用Spring容器中创建好的对象
            value: 具体的值基本数据类型
            -->
        <property name="userDao" ref="mysqlImpl"/>
    </bean>
</beans>