<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cn.com.codingce.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>cn.com.codingce.servlet.IndexServlet</servlet-class>
    </servlet>


  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/testindex</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>


</web-app>
