<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--
    scope =
         singleton 在spring IoC容器仅存在一个Bean实例，Bean以单例方式存在，默认值
         prototype 每次从容器中调用Bean时，都返回一个新的实例，即每次调用getBean()时，相当于执行newXxxBean()
         request 每次HTTP请求都会创建一个新的Bean，该作用域仅适用于WebApplicationContext环境
         session 同一个HTTP Session共享一个Bean，不同Session使用不同的Bean，仅适用于WebApplicationContext环境
         global-session 一般用于Portlet应用环境，该运用域仅适用于WebApplicationContext环境
    -->
    <bean id="helloWorld" class="cn.com.codingce.codespring.entity.HelloWorld" scope="prototype"
          init-method="init"
          destroy-method="destroy"
    >
        <property name="message1" value="Hello World!"/>
        <property name="message2" value="Hello Second World!"/>
    </bean>

    <!--Spring Bean 后置处理器-->
    <bean class="cn.com.codingce.codespring.postprocessor.InitHelloWorld" />

    <!--Spring Bean 定义继承
    Spring Bean 定义的继承与 Java 类的继承无关，但是继承的概念是一样的。
    你可以定义一个父 bean 的定义作为模板和其他子 bean 就可以从父 bean 中继承所需的配置。
    -->
    <bean id="inherit" class="cn.com.codingce.codespring.entity.Inherit" parent="helloWorld">
        <property name="message1" value="Inherit India!"/>
        <property name="message3" value="Inherit India!"/>
    </bean>

</beans>