<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>

    <!--在mybatis配置文件留下  别名  和设置   (都可以整合到Spring中)-->

    <!--别名   类就不用写长的包名了-->
    <typeAliases>
        <package name="cn.com.codingce.pojo"/>
    </typeAliases>


<!--    <settings>-->
<!--        <setting name="" value=""/>-->
<!--    </settings>-->

</configuration>