<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="cn.com.codingce.dao.UserMapper">
    <!--查询语句-->
    <select id="getUserList" resultType="user">
        select * from mybatis.user
    </select>
    <!--查询-->
    <select id="getUserById" parameterType="int" resultType="cn.com.codingce.pojo.User">
        select * from mybatis.user where id = #{id}
    </select>
    <!--插入, 对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="cn.com.codingce.pojo.User">
        insert into mybatis.user(id, name, pwd) values (#{id}, #{name}, #{pwd})
    </insert>
    <!--修改-->
    <update id="updateUser" parameterType="cn.com.codingce.pojo.User">
        update mybatis.user set name = #{name}, pwd = #{pwd} where id = #{id}
    </update>
    <!--删除-->
    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id}
    </delete>
</mapper>
<!--放在这里mapper不能使用这个-->
<!--<mappers>-->
<!--<mapper class="org.mybatis.builder.AuthorMapper"/>-->
<!--<mapper class="org.mybatis.builder.BlogMapper"/>-->
<!--<mapper class="org.mybatis.builder.PostMapper"/>-->
<!--</mappers>-->
