<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.codingce.dao.StudentMapper">

    <!--按照结果嵌套处理-->
    <select id="getStudent2" resultMap="StudentTeacher2">
        select s.id sid, s.name sname, t.name tname
        from student s, teacher t
        where s.tid = t.id;
    </select>
    <resultMap id="StudentTeacher2" type="Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="Teacher">
            <result property="name" column="tname"/>
        </association>
    </resultMap>
    <!--
      思路:
          1. 从学生表和老师表中查出学生id，学生姓名，老师姓名
          2. 对查询出来的操作做结果集映射
              1. 集合的话，使用collection！
                  JavaType和ofType都是用来指定对象类型的
                  JavaType是用来指定pojo中属性的类型
                  ofType指定的是映射到list集合属性中pojo的类型。
      -->
<!--    <select id="getStudents" resultType="student">-->
<!--        select * from student-->
<!--   </select>-->
    <select id="getStudent" resultMap="StudentTeacher">
        select * from student
    </select>
    <resultMap id="StudentTeacher" type="Student">
<!--        <result property="id" column="id" />-->
<!--        <result property="name" column="name" />-->
        <!--复杂的属性:,我们需要单独处理
            对象: association
            集合: collection
        -->
        <association property="teacher" column="tid" javaType="Teacher" select="getTeacher"/>
    </resultMap>
    <select id="getTeacher" resultType="Teacher">
        select * from teacher where id = #{id}
    </select>


</mapper>