<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--开启注解的支持-->
    <context:annotation-config/>

    <!--
        byName：会自动在容器上下文查找, 和自己对象set方法后面的值对应的beanid
        byType：会自动在容器上下文查找, 和自己对象属性相同的beanid
    -->
<!--    <bean id="people" class="cn.com.codingce.pojo.People" autowire="byName">-->
<!--        <property name="name" value="掌上编程"/>-->
<!--&lt;!&ndash;        <property name="dog" ref="dog"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="cat" ref="cat"/>&ndash;&gt;-->
<!--     </bean>-->

    <bean id="cat" class="cn.com.codingce.pojo.Cat"/>
    <bean id="dog" class="cn.com.codingce.pojo.Dog"/>
    <bean id="people" class="cn.com.codingce.pojo.People"/>

</beans>